body {
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #889696;
}

h1 {
    text-align: center;
}

h3 {
    text-align: left;
}

button {
    margin: 20px;
}

.sections {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: #E0E2DB;
}

.antenna_type {
    display: inline-flex;
    flex-direction: column;
    margin-left: 25px;
    text-align: left;
   }

.antenna_img {
   margin-bottom: 10px;
}

.freq_input {
    width: 50px;
}
