body {
    font-family: 'Roboto', sans-serif;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 6.25rem;
    padding-right: 6.25rem;
    background-color: #889696;
}

h1 {
    text-align: center;
}

h3 {
    text-align: left;
}

button {
    margin: 1.25rem;
}

.sections {
    padding: 0.94rem;
    margin-bottom: 0.63rem;
    border-radius: 0.63rem;
    text-align: center;
    background-color: #E0E2DB;
}

.antennaType {
    display: inline-flex;
    flex-direction: column;
    margin-left: 1.56rem;
    text-align: left;
   }

.antennaImg {
   margin-bottom: 0.63rem;
}

.freqInput {
    width: 3.13rem;
}
